<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>User ID: <%= userId %></h3>
  <h5>Name: <%= name %></h5>
  <form method="POST" action="/login">
    LOGIN FORM
    <input type="text" id="username" name="username">
    <input type="password" id="password" name="password">
    <input type="submit">
  </form>
</body>
</html>